<div class="col-xs-12">
<p>Añadir comentario:</p>
	<div class="form-group">
		<form method="post" action="/quizes/<%= quizid %>/comments/">
		<input type="text" id="comment" name="comment[texto]" value=""/>
		<button class="btn btn-default" type="submit">Enviar</button>
		</form>
	</div>
</div>