    <div class="col-xs-12 table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>DNI</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Andrés</td>
                    <td>Vacas Merino</td>
                    <td>47474963-L</td>
                </tr>
                <tr>
                    <td>Gonzalo</td>
                    <td>Pedregosa Ordóñez</td>
                    <td>75915464-P</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-12">
       <h2 class="text-center">Andrés</h2>
        <img src="/images/andres.jpg" alt="Andrés Vacas" class="text-center img-rounded img-responsive">
    </div>
    <div class="col-xs-12">
       <h2 class="text-center">Gonzalo</h2>
        <img src="/images/gonzalo.jpg" alt="Gonzalo Pedregosa" class="text-center img-rounded img-responsive">
    </div>