<div class="container">
    <div class="col-xs-12 table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>DNI</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Andrés</td>
                    <td>Vacas Merino</td>
                    <td>47474963-L</td>
                </tr>
                <tr>
                    <td>Gonzalo</td>
                    <td>Pedregosa Ordóñez</td>
                    <td>########</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-6">
       <p>Andrés Vacas</p>
        <img src="../public/images/andres.jpg" alt="Andrés Vacas" class="img-rounded" />
    </div>
    <div class="col-xs-6">
       <p>Gonzalo Pedregosa</p>
        <img src="../public/images/gonzalo.jpg" alt="Gonzalo Pedregosa" class="img-rounded" />
    </div>
</div>
