  <div class="container">
      <div class="text-center">
              <h3>Bienvenido a <%= title %></h3>
              <p>El portal donde podrá crear sus propios juegos!</p>
              <a href="/quizes/question">Comience a jugar</a></p>
      </div>
  </div>