<label for="preg">Username: </label>
<input type="text" name="user[username]" value="<%=user.username%>"/>
<label for="resp">Password:</label>
<input type="text" name="user[password]"/>
<a href="/"><button type="button" class="btn btn-warning">Cancelar</button></a>
<input type="submit" value="Enviar" class="btn btn-primary">