		<label for="preg" > Pregunta:</label>
		<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>" onFocus="this.value=''" placeholder="Pregunta"/> <p>
		<label for="resp">Respuesta:</label>
		<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>" onFocus="this.value=''" placeholder="Respuesta" /> <p>
		<label for="cat" >Categoría:</label>
<select id="cat" name="quiz[categoria]" value="<%= quiz.categoria %>" placeholder="Respuesta" />
  <option value="Otro" <% if (quiz.categoria === "Otro"){%> selected <% }%>> Otro</option>
  <option value="Humanidades" <% if (quiz.categoria === "Humanidades") {%> selected <%} %> >Humanidades</option>
  <option value="Ocio" <% if (quiz.categoria === "Ocio") {%> selected <%} %> >Ocio</option>
  <option value="Ciencia" <% if (quiz.categoria === "Ciencia") {%> selected <%} %> >Ciencia</option>
  <option value="Tecnologia" <% if (quiz.categoria === "Tecnoligía") {%> selected <%} %> >Tecnología</option>
</select>
<p>
		<label for="image">Imagen:</label>
		<input type="file" accept="image/*" name="image" /><p>
		<a href="/quizes"><button class="btn btn-warning" type="button">Cancelar</button></a>
		<input class="btn btn-primary" type="submit" value="Guardar"/>