	<div class="col-xs-12 table-responsive">
		<table class="table table-hover">
			<% var i; %>
			<% for (i=0; i < quizes.length; i++){ %>
			<tr>
				<td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
			</tr>
		<% } %>
		</table><p>
	</div>
		<a href="/quizes/new"><button type="button">Crear pregunta</button></a>