    <div class="container">
        <div class="text-center">
        <div class="form-group">
            <form action="/quizes/<%= quiz.id %>/answer" method="get">
                <p> Pregunta: <%= quiz.pregunta %> </p>
                <input type="text" name="respuesta" placeholder="Responda aquí"/>
                <input type="submit" value="Enviar">
            </form>
        </div>
        </div>
    </div>